@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Single+Day&family=Tiro+Gurmukhi&display=swap');


.gray-background {
  background: darkgray;
}
.header-right {
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: right;
  margin-right: 10%;
}
.header-right li {
  display:inline-block;
  margin: 5px;
}
.header-right li a:link {
  text-decoration: none;
  color: black;
}
.hearder-logo {
  font-family: 'Single Day', cursive;
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;
  line-height: 100%;
}
.header-desc {
  font-family: 'Tiro Gurmukhi', serif;
  font-size: 11px;
  font-weight: lighter;
  line-height: 20px;
  color: rgb(150, 150, 150);
  letter-spacing: 2px;
  margin-bottom: 50px;
}
#Header {
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}
#Header .Header-home {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 1%;
}
#Header .Header-drop {
  font-size: 20px;
}
.my-2{
  font-size: 20px;
}